@import "../../variables";

.recipesCatalog {
  margin: 40px auto 112px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;


  &__search{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    :not(:first-child) {
      margin-left: 12px;
    }
  }

  &__boxCatalog {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__catalog {
    margin-top: 40px;
    margin-bottom: 60px;
    @extend %catalog;
  }
  &__textAdd{
@extend %subtitle20-24Vol
  }
  &__boxAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}