@import "../../variables";

.recipesCatalog{
  margin: 40px auto 112px auto;
max-width: 1120px;
  width: 100%;

  &__box{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    :not(:first-child){
      margin-left: 12px;
    }
  }
  &__catalog{
    margin-top: 40px;
display: grid;
    grid-template-columns: repeat(3, 352px);
    justify-content: space-between;
    gap: 60px 32px;
  }
}