@import "../../variables";
li{
  text-align: left;
  padding-right: 11px;
}


.carouselsBox {
  max-width: 1120px;
  width: 100%;
  margin: 120px auto 120px auto;

&__carousel {
    margin: 60px 0;

  }

  &__title {
    font-family: $stock-font;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 12px 0;
  }

  &__card {

    overflow: hidden;
    padding: 2rem 0;
    max-width: 372px;
    width: 100%;
  }
  &__box {

  }

  &__text {
    font-family: $stock-font;
    position: absolute;
    top: 0;
    right: 45px;
    color: $sand-80;
    font-size: 20px;
    line-height: 24px;
  }

  &__buttonLeft {
    background-color: inherit;
    background-image: url(../../assets/LeftM.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 24px;
    border: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 76px;

    &:hover {
      background-image: url(../../assets/LeftMHover.svg);
    }

    &:disabled {
      background-image: url(../../assets/LeftMDisabled.svg);
      cursor: default;
    }

    &:active {
      background-image: url(../../assets/LeftPressed.svg);
    }
  }

  &__buttonRight {
    background-color: inherit;
    background-image: url(../../assets/RightM.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 24px;
    border: hidden;
    cursor: pointer;
    justify-content: space-around;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0px;

    &:hover {
      background-image: url(../../assets/RightMHover.svg);
    }

    &:active {
      background-image: url(../../assets/RightPressed.svg);
    }

    &:disabled {
      background-image: url(../../assets/RightMDisabled.svg);
      cursor: default;
    }
  }
}