@import "../../variables";

.recipePhotoBlock {
  position: relative;
  margin-top: 40px;
  margin-bottom: 120px;


  &__img {
    width: 544px;
    height: 300px;
    border-radius: 28px;
    vertical-align: middle;
  }

  &__imgMini {
    width: 130px;
    height: 72px;
    border-radius: 8px;

  }

  &__boxMaxi {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__boxMini {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__recipe {
    max-width: 544px;
    width: 100%;
  }

  &__box {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

  }

  &__module {
    display: flex;
    align-items: center;
  }

  &__userBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 8px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
  }

  &__text {
    @extend %textSmall13-20Mon;
    text-align: center;
    color: $sand-80;

  }

  &__user {
    stroke: $sand-colorful-80;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
    padding: 3px 4px;
  }

  &__imgUser {
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }

  &__steps {
    max-width: 544px;
    width: 100%;

  }

  &__title {
    @extend %title28Vol;
    text-align: left;
    margin-top: 120px;

  }

  &__boxPhoto {
    background-color: $sand-colorful-20;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 8px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &__composition_mobile {
    display: none;
  }

  &__description {
    max-width: 544px;
    width: 100%;
    color: var(--Primary-Sand-Sand-80, #655D45);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/H4 */
    font-family: Vollkorn;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    margin-top: 24px;
  }
}

@media only screen and (max-width: 1300px) {
  .recipePhotoBlock {

    &__composition_mobile {
      background-color: #FFEEC1;
      border-radius: 28px;
      padding: 20px 20px 40px 20px;
      max-width: 304px;
      width: 100%;
      position: relative;
      top: 20px;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .recipePhotoBlock {
    &__img {
      display: flex;
      max-height: 184px;
      max-width: 344px;
      height: 100%;
      width: 100%;
      // padding: 12px 259px 144px 12px;
      align-items: center;
      align-self: stretch;
    }

    &__imgMini {
      max-width: 72px;
      width: 100%;
      height: 44px;
      flex: 1 0 0;
    }

    &__boxMini {
      max-width: 344px;
      width: 100%;

    }

    &__box {
      max-width: 344px;
      width: 100%;

    }

    &__title {
      color: var(--Primary-Primary-dark-100, #323232);
      font-feature-settings: 'clig' off, 'liga' off;

      /* Mob/Headers Н2 */
      font-family: Vollkorn;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 116.667% */
    }
  }

}