@import "../../../variables";


.popupUnits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 8px 32px 0px #56340033;
  background-color: $sand-colorful-10;
  border: none;
  padding: 8px;
  max-width: 232px;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 185px;
  z-index: 30;
  visibility: visible;

  &_hidden {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 185px;
    z-index: 30;
  }
    &__box {
      display: flex;
      max-width: 216px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
background-color: inherit;
      border: none;
      &:hover{
        background-color: $sand-20;
        border-radius: 8px;
      }
    }


    &__text {
      padding: 8px 12px 8px 12px;
      gap: 8px;

      @extend %textLarge16Mon;
    }

    &__check {
      stroke: $primary-100;
      width: 24px;
      height: 24px;
      padding: 8px 12px 8px 12px;
    }
  }
