@import "../../variables";


.adminRights {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    margin-top: 40px;
    display: flex;
    width: 1120px;
    align-items: flex-start;
    gap: 32px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }

  &__button {
    border: none;
    cursor: pointer;
    background-color: inherit;

    &:hover {
      opacity: 0.5;
    }
  }
}