@import "../../variables";

.fullRecipe {

  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1120px;

  &__cover {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__titleContent {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__title {
    margin-right: 32px;
    max-width: 435px;
    width: 100%;
    margin-top: 20px;
    @extend %title32Vol;
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__composition_desktop {
    background-color: $sand-colorful-20;
    border-radius: 28px;
    padding: 40px 0 60px 0;
    //max-width: 448px;
    width: 100%;
    position: sticky;
    top: 20px;
    height: 100%;
    max-width: 448px;
  }
}

@media only screen and (max-width: 1300px) {

  .fullRecipe {

    &__composition_desktop {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {

  .fullRecipe {
    padding: 0 15px 0 15px;
    max-width: 375px;
    width: 100%;

    &__titleContent {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      flex-direction: column;
    }

    &__title {
      color: var(--Primary-Primary-dark-100, #323232);
      font-feature-settings: 'clig' off, 'liga' off;

      /* Mob/Headers Н1 */
      font-family: Vollkorn;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 114.286% */
    }
  }
}