@import "../../variables";


.auth {
  // align-items: stretch;
  //background-repeat: no-repeat;
  //  background-attachment: fixed;
  //background-image: url("./../../assets/Frame2.svg");


  // background-position: center;
  background-color: $sand-10;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


  &__content {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    margin-top: 20px;
    //  margin: 60px auto 0px auto;
    border-radius: 40px;
    padding: 60px;
    background-color: $sand-colorful-10;
    z-index: 30000;
    position: relative;

  }

  &__contentText {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  &__title {
    @extend %title32Vol;
    color: $primary-dark-100;
  }

  &__description {
    margin-top: 8px;
    color: $sand-80;
    @extend %textLarge16Mon;

  }

  &__images {

    display: flex;
    width: 100%;
    max-width: 375px;
    padding-bottom: 182px;
    flex-direction: column;
    align-items: center;
    gap: 114px;
    margin: 0px auto;
    z-index: 30000;
    position: relative;
  }

  &__imagePepper {
    @extend %imageBackgroundPepper;
    background-image: url("./../../assets/Group 7.svg");
    top: -40px;
    left: -280px;
  }

  &__imageGarlic {
    @extend %imageBackgroundGarlic;
    background-image: url("./../../assets/Group 14.svg");
    top: 420px;
    left: -340px;
  }

  &__imageTomato {
    @extend %imageBackgroundTomato;
    background-image: url("./../../assets/Group 18.svg");
    top: 150px;
    left: 250px;
  }

}

@media only screen and (max-width: 1000px) {
  .auth {


    &__content {
      margin: 20px auto 0px auto;
      display: flex;
      /* flex-direction: column; */
      max-width: 244px;
      width: 100%;
      min-width: 244px;
      /* width: 100%; */
      /* margin: 60px auto 0px auto; */
      /* border-radius: 40px; */
      /* padding: 60px; */
      align-items: center;

    }

    &__contentText {
      margin-bottom: 0;

    }

    &__images {


      max-width: 1000px;
      width: 100%;

    }
  }
}
