@import "../../variables";

.auth {
  align-items: stretch;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./../../assets/Frame2.svg");
  background-size: cover;
  background-position: center;
  background-color: $sand-10;
  padding-bottom: 100px;


  &__content {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    margin: 60px auto 0px auto;
    border-radius:40px;
    padding: 60px;
    background-color: $sand-colorful-10;
    position: sticky;
    z-index: 10;
    bottom: 0;
  }

  &__contentText {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  &__title {
    font-family: $stock-font;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: $primary-dark-100;
  }

  &__description {
    font-family: $hint-font;
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: $sand-80;

  }
  &__image {
    background-position: center;
    width: 307.59px;
    height: 387.81px;
    top: -150px;
    left: -180px;
    position: absolute;
    z-index: 20;
    background-image: url("./../../assets/Frame.svg");
&:hover{
  rotate: 90deg;
}

  }
}