@import "../../variables";
.input-field input:-webkit-autofill{
  -webkit-text-fill-color: $sand-40 !important;
}
.inputAuth {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  &:not(:first-child) {
    margin-top: 4px;
  }

  &__input {
    @extend %textLarge16Mon;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid $sand-40;
    color: $sand-40;
    background-color: inherit;
    text-align: left;

    &:focus {
      border: 1px solid $primary-dark-100;
      color: $primary-dark-100;
      outline: none;
    }

    &:active {
      color: $primary-dark-100;
      border: 1px solid $sand-40;
    }

    &:disabled {
      opacity: 0.4;
      color: $primary-dark-100;
      border: 1px solid $sand-40;
      background-color: $sand-40;
    }

  }

  &__inputError{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    &:not(:first-child) {
      margin-top: 4px;
    }
    font-family: $hint-font;
    visibility: visible;
    opacity: 1;
    color: $error;
  }
  &__inputError_hidden{
    font-family: $hint-font;
    visibility: hidden;
    opacity: 1;
    color: $error;
  }

  &__text {
    font-family: $hint-font;
    font-size: 13px;
    line-height: 16px;
    color: $primary-dark-100;
    position: relative;
    margin-bottom: 6px;
  }

  &__buttonImg {
    top: 40px;
    left: 395px;
    border: none;
    text-align: center;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    cursor: pointer;

    :hover {
      opacity: 0.5;
    }
  }

  &__img {
    background-image: url(../../assets/eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;

  }

  &__img_active {
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/eye-off.svg)
  }


}