@import "../../variables";

.header {
  font-family: $hint-font;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px 160px;
  margin: 0;
  border-bottom: 1px solid $sand-30;
  background-color: $sand-colorful-10;

  &__links {
    display: flex;
    align-items: center;
    margin: 0 206.5px;
    max-width: 417px;
    width: 100%;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;

  }

  &__logo {
    background-color: $sand-colorful-20;
    border-radius: 100px;
    padding: 6px;

  }

  &__burger {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    display: flex;
    width: 375px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;

    &__links {
      visibility: hidden;
      width: 1px;
      max-width: 1px;
      min-width: 1px;
      margin: 0;
    }

    &__box {
      visibility: hidden;
      width: 1px;
      max-width: 1px;
      min-width: 1px;
    }

    &__burger {
      visibility: visible;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/Burger.svg);
      border: hidden;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: inherit;
      &:hover {
        opacity: 0.5;
      }
    }


  }
}