@import "../../variables";

.header {
  font-family: $hint-font;
z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8px 160px;
  margin: 0;
  border-bottom: 1px solid $sand-30;
  background-color: $sand-colorful-10;

  &__links {
    display: flex;
    align-items: center;
    margin: 0 206.5px;
    max-width: 417px;
    width: 100%;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;

  }

  &__logo {
    background-color: $sand-colorful-20;
    border-radius: 100px;
    padding: 6px;

  }
}