@import "../../variables";

.stepByStep {
  margin-top: 40px;
  &__title {
    @extend %title24Vol;
    text-align: left;
  }
  &__img {
    margin-top: 12px;
    width: 544px;
    height: 300px;
    border-radius: 28px;
  }
  &__box {
    @extend %textLarge16Mon;
    margin-top: 12px;
    text-align: left;
  }
}