@import "../../variables";

.commentsBox{
  max-width: 544px;
  width: 100%;
  margin-bottom: 120px;
 &__title{
@extend %title28Vol;
  text-align: left;
 }
}
@media only screen and (max-width: 650px) {
  .commentsBox {
    max-width: 344px;
    width: 100%;
    margin-bottom: 60px;
    &__title{
      color: var(--Primary-Primary-dark-100, #323232);
      font-feature-settings: 'clig' off, 'liga' off;

      /* Mob/Headers Н3 */
      font-family: Vollkorn;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 120% */
    }
  }
}