@import "../../variables";

.userProfile {
  display: flex;
  margin: 40px auto 0 auto;

  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 352px;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
    max-width: 352px;
    width: 100%;

  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    :not(:first-child) {
      margin-top: 20px;
    }
  }

}