@import "../../variables";

.recipeComposition {

  display: flex;
  flex-direction: column;
  align-items: stretch;
  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  &__counterText {
    margin: 0 8px;

  }

  &__title {
    @extend %title28Vol;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}