@import "../../variables";

.recipeComposition {
  background-color: $sand-colorful-20;
  border-radius: 28px;
  padding: 40px 0 60px 0;
  max-width: 448px;
  width: 100%;
  position: sticky;
  top: 20px;
  height: 100%;

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  &__counterText {
    margin: 0 8px;

  }

  &__title {
    @extend %title28Vol;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}