@import "../../variables";

.recipeComposition {

  display: flex;
  flex-direction: column;
  align-items: stretch;


  &__title {
    @extend %title28Vol;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &__counter{

  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}