@import "../../variables";



.imageBlur {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 28px;
 position: relative;
 overflow: hidden;
 max-height: 240px;
 max-width: 696px;
 width: 100%;
 height: 100%;
 &__top{
  width: 696px;
  height: 258px;
  border-radius: 36px;
  filter: blur(40px);
  overflow: hidden;
  border-style: solid;
 }
&__blur{
 max-width: 424px;
 width: 100%;
 height: 240px;
 position: absolute;
 top: 0;
 left: 136px;
 z-index: 10;
 border: none;
}
 &__button {


  position: absolute;
  top: 12px;
  right: 148px;
  z-index: 11;
 }
}