@import "../../variables";

.personalPage {
  font-family: $stock-font;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto 112px auto;

  &__chips {
    display: flex;
    flex-direction: row;
    justify-content: center;

    :not(:first-child) {
      margin-left: 12px;
    }
  }
    &__box{

    }

}