@import "../../variables";

.personalPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto 112px auto;

  &__chips {
    display: flex;
    flex-direction: row;
    justify-content: center;

    :not(:first-child) {
      margin-left: 12px;
    }
  }

  &__box {

  }

}

@media only screen and (max-width: 650px) {
  .personalPage {

    max-width: 340px;
    width: 100%;

    &__chips {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      :not(:first-child) {
        margin-left: 0px;
      }
    }
  }

}