@import "../../../variables";


%buttonChips {
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid $Primary-40-past-though;
  text-align: right;
  @extend %textLarge16Mon
}

.buttonChips {
  @extend %buttonChips;
  background-color: inherit;
  color: $primary-100;

  &_active {
    @extend %buttonChips;
    background-color: $primary-100;
    color: $white;
  }

  &:hover {
    background-color: $Primary-10-past-though;
    border: 1px solid $primary-100;
  }

  &:active {
    background-color: $primary-100;
    color: $white;
  }

  &:disabled {
    background-color: $sand-40;
    color: $primary-dark-100;
  }
}