@import "../../variables";

.pictureSection {
  font-family: $hint-font;
  background-repeat: no-repeat, repeat;
  background: linear-gradient(89.94deg, rgba(0, 0, 0, 0.4) 29.03%, rgba(0, 0, 0, 0) 99.96%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../../assets/oliva.svg");
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0 0 80px 80px;
  width: 100%;
  margin: 0 auto 0 auto;
  zoom: normal;
  display: flex;
  justify-content: center;
  z-index: -10px;



&__cover{
  max-width: 1120px;
  width: 100%;
  display: flex;
}
  &__box {
    padding: 100px 0 120px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 546px;
    width: 100%;
  }

  &__title {
    font-family: $stock-font;
    color: $white;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
  }

  &__text {
    font-family: $hint-font;
    margin-top: 12px;
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}