@import "../../variables";

%headerMini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.headerMiniSandColorful10 {
  background-color: $sand-colorful-10;
  border-bottom: 1px solid $sand-30;
  @extend %headerMini;
}
.headerMiniSand10 {
  background-color: $sand-10;
  border-bottom: 1px solid $sand-30;
  @extend %headerMini;
  &__box {
    margin: 20px auto 8px auto;
    max-width: 1120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}