@import "../../variables";

.linkItem{
  font-family: $hint-font;
  background-color: $sand-colorful-10;
  color: $sand-60;
  padding: 8px 12px;
display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &:hover{
    background-color: $sand-20;
    color: $primary-dark-100;
    border-radius: 100px;
  }

}