@import "../../variables";


%linkItem {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  @extend %textLarge16Mon;
}

.linkItem {
  @extend %linkItem;
  background-color: $sand-colorful-10;
  color: $sand-60;

  &_active {
    @extend %linkItem;
    background-color: $sand-20;
    color: $primary-dark-100;
    border-radius: 100px;
  }

  &:hover {
    color: $primary-dark-100;
    background-color: inherit;
  }

  &:disabled {
    opacity: 0.4;
  }
}