@import "../../../variables";

.buttonLikeFull {
  @extend %textLarge16Mon;
  cursor: pointer;
  margin-right: 8px;
  font-weight: 700;
  border: none;
  display: flex;
  width: 62px;
  height: 32px;
  padding: 4px 12px;
  background-color: $accent-15-opacity;
  border-radius: 100px;
  color: $accent-100;
  align-items: center;
  justify-content: space-evenly;

  &__heart {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/heartRed.svg);
    border: hidden;
    cursor: pointer;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__count {
    @extend %textLarge16Mon;
    margin-left: 4px;
    font-weight: 600;
  }
}

.buttonLikeEmpty {

  cursor: pointer;
  margin-right: 8px;
  border: none;
  display: flex;
  width: 62px;
  height: 32px;
  padding: 4px 12px;
  background-color: $sand-20;
  border-radius: 100px;
  align-items: center;
  justify-content: space-evenly;

  &__heart {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/heartEmpty.svg);
    border: hidden;
    cursor: pointer;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__count {
    @extend %textLarge16Mon;
    margin-left: 4px;
    color: $sand-colorful-80;
    font-weight: 600;
  }
}




