@import "../../variables";

.productQuantity {
  display: flex;
  color: $sand-40;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  position: relative;


  &__subtitle {
    @extend %textSmall13-16Mon;
    text-align: left;
  }

  &__boxCount {
    margin-right: 12px;
  }

  &__input {
    padding: 17.5px;
    border-radius: 12px 0px 0px 12px;
    gap: 4px;
    border: 1px solid $sand-40;
    background: inherit;
    @extend %textLarge16Mon;
    max-height: 56px;
    height: 100%;
  }

  &__inputCount {
    padding: 17.5px;
    border-radius: 0px 12px 12px 0px;
    gap: 4px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: $sand-40;
    background: inherit;
    @extend %textLarge16Mon;
    max-height: 56px;
    height: 100%;
  }

  &__select {
    padding: 17.5px;
    gap: 4px;
    background-color: inherit;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: $sand-40;
    @extend %textLarge16Mon;
    color: $sand-40;
    text-align: left;

    select {
      background-color: green;
    }

    option {
      background-color: $sand-10;

      padding: 8px 12px;
      border-radius: 8px;
      border-width: 0px 0px 1px 0px;
      gap: 8px;


    }

    :after {
      content: "▼";
      padding: 0 8px;
      font-size: 12px;
      position: absolute;
      right: 8px;
      top: 4px;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
      box-sizing: border-box;
    }
  }
}


