@import "../../variables";
::-webkit-scrollbar {
  display: none;
}
.categoryList {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $sand-colorful-10;
  max-width: 736px;
  width: 100%;

  &__subtitle {
    @extend %title28Vol
  }

  &__boxCategory {
    margin-top: 20px;
    display: flex;

    :not(:first-child) {
      margin-left: 12px;
    }
  }
}

@media only screen and (max-width: 1000px) {

  .categoryList {
    max-width: 775px;

    &__boxCategory {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      max-width: 375px;
      width: 100%;
      overflow: overlay;
      white-space: nowrap;
      :not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}

