@import "../../../variables";


.buttonPicture {
  border: none;
  cursor: pointer;
  background-color: $accent-15-opacity;
  padding: 8px;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  gap: 8px;

  &:hover {
    background-color: $accent-30-opacity;
  }

  &:disabled {
    opacity: 0.4;
  }

  &__plus, &__minus, &__close {
    stroke: $accent-100;
  }
  &__image{
    stroke: $primary-dark-100;
  }
}
.buttonPicture__white{
  border: none;
  cursor: pointer;
  background-color: $white;
  padding: 8px;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  gap: 8px;
  z-index: 30;
}
.buttonPicture__big {
  border: none;
  cursor: pointer;
  background-color: $accent-15-opacity;
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 12px;
  gap: 8px;


  &:hover {
    background-color: $accent-30-opacity;
  }

  &:disabled {
    opacity: 0.4;
  }

  &__plus, &__minus, &__close {
    stroke: $accent-100;
  }
}

.buttonPicture__circle {
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 100px;
  gap: 8px;
  border: none;
  cursor: pointer;
  background-color: $accent-15-opacity;

  &:hover {
    background-color: $accent-30-opacity;
  }

  &:disabled {
    opacity: 0.4;
  }

  &__plus, &__minus, &__close {
    stroke: $accent-100;
  }
}
.buttonPicture__small{
  border: none;
  cursor: pointer;
  background-color: inherit;
  padding: 8px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  gap: 8px;
  z-index: 30;
  margin-bottom: 12px;

}
.buttonPicture__smallBlack{
  border: none;
  cursor: pointer;
  background-color: $primary-dark-120;
  //padding: 16px;
  border-radius: 32px;
  width: 40px;
  height: 40px;
  z-index: 30;
  margin-bottom: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.buttonPicture__smallRose{
  border: none;
  cursor: pointer;
  border-radius: 12px;
  background: var(--Secondary-Accent-Accent-15-fill, #FFDCBF);
  //padding: 16px;
  width: 40px;
  height: 40px;
  z-index: 30;
  margin-bottom: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.buttonPicture__smallBlackSquare{
  border: none;
  cursor: pointer;
  background-color: $primary-dark-120;
  padding: 8px;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  z-index: 30;
  margin-bottom: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttonPicture__whiteClose{
  stroke: $white;
  Width: 24px;
  Height: 24px;
  z-index: 310;
}
.buttonPicture__redClose{
  stroke: #EA3E27;
  Width: 24px;
  Height: 24px;
  z-index: 310;
}



.buttonPicture__arrowSmall{
  stroke: $white;
  Width: 24px;
  Height: 24px;
  z-index: 310;
}
.buttonPicture__brownClose{
  stroke: $sand-60;
  Width: 24px;
  Height: 24px;
}
.prev,
.next {
  position: absolute;
  cursor: pointer;
  transition: all 0.3s linear;
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: $primary-dark-120;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.prev:hover,
.next:hover {
 opacity: 0.5;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}