@import "../../variables";


.foodstuff {
  max-width: 368px;
  width: 100%;

  justify-content: space-between;
  margin-top: 20px;

  &__bottom2 {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    flex-grow: 1;
    border-bottom: 1px dotted rgb(217, 217, 217);
    height: 16px;
    margin: 0px 10px;
  }

  &__text {
    border: none;
    @extend %textLarge16Mon;
    text-align: left;
    color: $primary-dark-100;

  }

  &__text2 {
    @extend %textSmall13-20Mon;
    text-align: right;
    color: $primary-dark-100;

  }
}
