@import "../../variables";


.authorsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 0 auto;
  &__box {
    margin-top: 40px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4, 256px);
    justify-content: center;
    gap: 60px 32px;
    justify-items: center;

  }
}
@media only screen and (max-width: 1300px) {
  .authorsPage {

    &__box {
      grid-template-columns: repeat(2, 256px);

    }
  }

}
@media only screen and (max-width: 1000px) {
  .authorsPage {

    &__box {
      grid-template-columns: repeat(1, 256px);

    }
  }

  }