@import "../../variables";

.boxClockTime {
  display: flex;
  align-items: center;

  &__imgClock {
    margin-top: 8px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }

  &__textBox {
    margin-top: 12px;
  }

  &__name {
    color: $sand-80;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @extend %title24Vol;

  }

  &__text {
    color: $sand-80;
    margin-top: 8px;
    @extend %textSmall13-20Mon;
  }


}