@import "../../variables";

.boxClockTime {
  display: flex;
  align-items: center;

  &__imgClock {
    margin-top: 8px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }

  &__textBox {
    margin-top: 12px;
  }

  &__name {
    color: $sand-80;
    font-family: $stock-font;
    overflow: hidden;
    font-size: 24px;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  &__text {
    color: $sand-80;
    font-family: $hint-font;
    font-size: 13px;
    line-height: 20px;
    margin-top: 8px;
  }


}