@import "../../variables";


.addRecipeStep1{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    margin-top: 223px;
    display: flex;
    max-width: 736px;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

  }
  &__title{
    @extend %title32Vol;
    text-align: center;
    margin-bottom: 40px;
  }
  &__categoriesBox{
    margin: 60px 0;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;

  }
  &__error{
    @extend %textSmall13-16Mon;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;

    font-family: $hint-font;
    visibility: visible;
    opacity: 1;
    color: $error;
  }
  &__errorHidden{
    visibility: hidden;
  }

}
@media only screen and (max-width: 1000px) {
  .addRecipeStep1 {
  padding: 0 10px;
  }
}