$stock-font: 'Volkorn';
$hint-font: 'Lato', 'Montserrat';
$primary-100: #6A8323;
$primary-120: #5E741F;
$primary-140: #55691C;
$primary-dark-100: #323232;
$primary-dark-120: #000000;
$accent-100: #FC4C0E;
$accent-120: #E14610;
$accent-140: #BB3A0C;
$white: #FFFFFF;
$sand-80: #655D45;
$sand-60: #726A54;
$sand-40: #A49B82;
$sand-30: #F2E4B8;
$sand-20: #F9ECC5;
$sand-10: #FCF1D5;
$sand-colorful-100: #8B590D;
$sand-colorful-80: #AF9F74;
$sand-colorful-30: #EFD9A0;
$sand-colorful-20: #FFEEC1;
$sand-colorful-10: #FFF6DE;
$accent-30-fill: #FC4C0E;
$accent-30-fill-opacity: rgb(252, 76, 0, 0.15); //#FC4C0E
$accent-15-fill: #FFE4DB;
$error: #EA3E27;
$warning: #F6990C;
$success: #53902D;
$shadow-1: 0px 8px 32px 0px #56340052;
$shadow-2: 0px 4px 16px 0px #56340014;
$Primary-40-past-though: rgb(106, 131, 35, 0.4); //#6A8323
$Primary-20-past-though: rgb(106, 131, 35, 0.2); //#6A8323
$Primary-8-past-though: rgb(106, 131, 35, 0.08); //#6A8323