@import "../../../variables";

.buttonComments {
  border: none;
  display: flex;
  width: 71px;
  height: 32px;
  padding: 4px 12px;
  background-color: $sand-20;
  border-radius: 100px;


  &__comments {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/message-circle.svg);
    border: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__count {

    padding-left: 4px;
    @extend %textLarge16Mon;
    font-weight: 600;
    color: $sand-colorful-80;
  }
}