@import "../../../variables";

.buttonComments {
  border: none;
  display: flex;
  width: 71px;
  height: 32px;
  padding: 4px 12px;
  background-color: $sand-20;
  font-size: 14px;
  border-radius: 100px;

  &__comments {
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/message-circle.svg);
    border: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__count {
    font-size: 16px;
    line-height: 24px;
    padding-left: 4px;
    color: $sand-colorful-80;
  }
}