@import "../../variables";

.addRecipe {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/src/assets/Frame2.svg);
  background-color: #FCF1D5;
  background-size: 1660px 1715px;
  background-position: 70% 40%;

  &__box {
    padding-top: 40px;
    border-radius: 40px;
    max-width: 736px;
    width: 100%;
    display: flex;
    margin: 40px auto 60px auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $sand-colorful-10;
    padding-bottom: 40px;
    z-index: 3000;

  }

  &__cover {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $sand-colorful-10;
    max-width: 736px;
    width: 100%;
  }

  &__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__boxName {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 352px;
    }
  }

  &__title {
    margin-bottom: 40px;
    @extend %title32Vol
  }

  &__steps {
    display: flex;
    margin: 60px auto 20px auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

  }

  &__span {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    @extend %textSmall13-16Mon;
    font-family: $hint-font;
    visibility: visible;
    opacity: 1;
    color: #EA3E27;
    width: 100%;


  }

  &__descriptionBox {
    margin: 12px auto 0 auto;
    width: 696px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    align-content: center;

  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    border-radius: 12px;
    border: 1px solid var(--Primary-Sand-Sand-40, #A49B82);
    padding: 16px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: inherit;
    height: 100% !important;
    @extend %textLarge16Mon;

  }

  &__span_hidden {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    @extend %textSmall13-16Mon;
    font-family: $hint-font;
    visibility: hidden;
    opacity: 1;
    color: #EA3E27;
    width: 100%;

  }

  &__boxSteps {
    margin-top: -20px;

  }

  &__subtitle {
    @extend %title28Vol
  }

  &__subtitleLeft {
    @extend %title28Vol;
    max-width: 696px;
    width: 100%;
    text-align: left;
  }

  &__boxCategory {
    margin-top: 20px;
    display: flex;

    :not(:first-child) {
      margin-left: 12px;
    }
  }

  &__img {
    margin-top: 50px;
    width: 424px;
    z-index: 1;
    border: solid 1.5em rgba(#000, .2);
    height: 50vmin;
    max-width: 13em;
    max-height: 7em;
    box-shadow: inset 0px 0px 40px 40px #DBA632;
    background: url(./../../assets/test.jpg) 50%/ cover border-box /* background-origin */
    padding-box /* background-clip */
  ;
  }

  &__button {
    margin-top: 60px;
    max-width: 696px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
  }

  &__popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    z-index: 100000;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }

  &__imagePepper {
    @extend %imageBackgroundPepper;
    background-image: url("./../../assets/Group 7.svg");
    top: 35px;
    left: 125px;

  }

  &__imageGarlic {
    @extend %imageBackgroundGarlic;
    background-image: url("./../../assets/Group 14.svg");
    top: 454px;
    left: 30px;
  }

  &__imageTomato {
    @extend %imageBackgroundTomato;
    background-image: url("./../../assets/Group 18.svg");
    top: 150px;
    left: 900px;
  }

  &__categoriesBox {
    margin: 60px 0;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
  }

  &__photoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__portions {
    margin: 0 auto 60px auto;
  }
}

@media only screen and (max-width: 1000px) {

  .addRecipe {
    display: flex;
    flex-direction: column;
    background: none;
    padding: 0 16px 0 16px;

    &__title {
      color: var(--Primary-Primary-dark-100, #323232);
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;

      /* Mob/Headers Н1 */
      font-family: Vollkorn;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 114.286% */
    }

    &__box {
      max-width: 375px;
      width: 100%;
    }

    &__descriptionBox {
      max-width: 375px;
      width: 100%;
      justify-content: flex-start
    }

    &__description {

    }

    &__cover {
      max-width: 375px;
    }

    &__boxName {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
      }
    }

    &__boxCategory {
      margin-top: 20px;
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: center;
      overflow: auto;
      width: 375px;
      white-space: nowrap;
    }

    :not(:first-child) {
      //   margin-left: 12px;
    }

    &__steps {
      max-width: 344px;
      width: 100%;
    }

    &__boxSteps {
      max-width: 344px;
      width: 100%;
    }

    &__subtitle {
      text-align: center;
    }

  }

}